main {
  font-size: nth($list: $size, $n: 2);

  .contacto-resc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3em 0;

    .contacto {
      width: max-content;
      line-height: 1.8em;  
    }

    .contacto-imagen {
      display: flex;
      justify-content: center;

      img{
        display: flex;
        border-radius: 700px;
        width: 90%;
      }
      
    }

    @media screen and (max-width: 900px) {
      display: flex;
      flex-direction: column;
    }
  }

  .contacto-admin{
    margin: 1em 2em;
    .box2 {

      border-radius: 4px;
      background-color: map-get($map: $colores, $key: color1);
      background-size: contain;
      width: 45%;
      font-size: nth($size, 5);
      padding: 0.5em;
        
      @media screen and (max-width: 900px) {
        width: fit-content;
        text-align: center;
        margin: 0;
      }
    }
    @media screen and (max-width: 900px){
      width: 90%;
        text-align: center;
        margin: auto;
    }
  } 
}