main {
  .contacto-resc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    .contacto {
      font-size: nth($size, 3);
      line-height: 1.8em;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
  .contacto-imagen {
    img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 95%;
      
      border-radius: 4px;
    }
  }

  .contacto-admin {
    margin-bottom: 3em;

    .box2 {
      border-radius: 4px;
      background-color: map-get($map: $colores, $key: color1);
      margin-left: 1.5em;
      background-size: contain;
      width: 40%;
      font-size: nth($size, 5);
      padding: 0.5em;
  
      @media screen and (max-width: 900px) {
        width: 90%;
        text-align: center;
      }
    }

    .contacto {
      font-size: nth($size, 3);
      line-height: 1.8em;
      margin-left: 1em;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}