@import '../base/listas';
@import '../base/mapas';

.donaciones-intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: space-evenly;
  padding: 2em;
  .texto-donar {
    display: inline;
    font-size: nth($size, 2);
    width: 60%;

    a {
      color: map-get($map: $colores, $key: color5);
    }

    @media screen and (max-width: 1100px) {
      width: 100%;
    }
  }

  div {
    img {
      display: flex;
      justify-content: flex-start;

      @media screen and (max-width: 900px) {
        width: 95%;
      }
    }
  }
}

.donar-contenido {
  .box2 {
    border-radius: 4px;
    background-color: map-get($map: $colores, $key: color1);
    margin-left: 20px;
    background-size: contain;
    width: 40%;
    font-size: nth($size, 5);
    padding: 0.5em;

    @media screen and (max-width: 900px) {
      width: 95%;
      margin: auto;
    }
    
  }
  .donaciones-mp {
    
    border-top: 2em;
    font-size: nth($size, 2);
    .linksmp {
      margin: 2em 1em;
      list-style-type: square;
      font-size: nth($size, 2);
      padding-bottom: 3em;
      li {
        line-height: 1.5em;
        a {
          color: map-get($map: $colores, $key: color5);
          
        }
      }
    }
  }

  .donaciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 4em;
    .veterinaria {
      display: flex;
      flex-direction: column;
      justify-content: center;

      iframe {
        @media screen and (max-width: 900px) {
          width: 90%;
        }
      }
    }

    @media screen and (max-width: 900px) {
      margin: 0.5em;
      margin-bottom: 1.5em;
    }
  }
}