@import '../base/listas';

footer {
  margin-top: 2em;
  background-color: map-get($map: $colores, $key: color3);
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.5em;

  #links-interes {
    width: 100%;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    color: map-get($map: $colores, $key: color6);
    font-size: nth($size, 8);
    border-radius: 5px;
    padding: 2px 4px;
    }
  ul {
    li {
      list-style: square;
      font-size: nth($size, 3);
      font-weight: lighter;
      line-height: 1.7em;
      
      a {
        color: map-get($map: $colores, $key: color5);
      }
    }
  }
}