@import '../base/mapas';
@import '../base/listas';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mulish&display=swap');

html {
  font-family: 'Mulish', sans-serif;
  background-image: url('../../multimedia/images/Wave.svg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: nth($size, 12);
  font-family: 'Bebas Neue', cursive;
  display: inline;
  margin-left: 0.5em;

  @media screen and (max-width: 900px) {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: nth($size, 6);
    font-family: 'Mulish', sans-serif;
    font-weight: lighter;
    background-color: map-get($map: $colores, $key: color1);
    padding: 8px;
    border-radius: 5px;
    margin: 0.5em;
    width: 95%;
  }
}

h2 {
  display: inline;
  color: map-get($map: $colores, $key: color6);
  font-family: 'Bebas Neue', cursive;
  font-size: nth($list: $size, $n: 9);
  background-color: map-get($map: $colores, $key: color7) opacity($color: #fff);
  border: 2px map-get($map: $colores, $key: color6);
  border-style: solid none;
  padding: 0.1em;
  

  @media screen and (max-width: 900px) {
    display: block;
    justify-content: center;
    padding: 0.3em;
    text-align: center;
    font-weight: lighter;
    font-family: 'mulish', sans-serif;
    font-size: nth($list: $size, $n: 5);
    background-color: map-get($map: $colores, $key: color2);
    border-radius: 5px;
  }
}

h3 {
  color: map-get($map: $colores, $key: color6);
  font-family: 'bebas neue', cursive;
  display: inline-block;
  font-size: nth($size, 8);
  font-weight: lighter;
  padding: 0.2em;
  margin-bottom: 1em;
  text-align: center;

  @media screen and (max-width: 900px) {
    display: block;
    justify-content: center;
    font-family: 'Mulish', sans-serif;
    font-size: nth($list: $size, $n: 5);
    padding: 0.5em;
    text-align: center;
    background-color: map-get($map: $colores, $key: color2);
    border-radius: 5px;
  }
}

h4 {
  background-color: map-get($map: $colores, $key: color3);
  text-align: center;
  display: inline-block;
  padding: 5px 15px;
  font-size: nth($size, 5);
  border-radius: 4px;
}

a{

  color: map-get($map: $colores, $key: color5);
  
}