header {
  nav {
    display: flex;
    justify-content: space-between;
    div {
      .logo {
        display: inline;
        justify-content: flex-start;
        top: 0px;
        left: 0px;
        margin-bottom: 2em;
        padding: 0.5em;
      }
    }
    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-start;
      position: fixed;
      top: 0;
      right: 0;
      margin: 0;
      width: 70%;
      .link-menu {
        padding: 0.7em;
        text-align: center;
        list-style: none;
        width: 80%;
        border-left: 1px solid map-get($map: $colores, $key: color7);
        background-color: map-get($map: $colores, $key: color6);
        opacity: 0.85;

        &:hover {
          text-decoration: underline overline 1px solid map-get($map: $colores, $key: color6);
            transition: all 0.2s linear;
            transform: translateY(5px);
            color: map-get($map: $colores, $key: color6);
            @media screen and (max-width: 900px) {
              transition: all 0.2s linear;
              transform: none;
            }
        }
        

        a {
          text-decoration: none;
          font-size: nth($list: $size, $n: 4);
          color: map-get($map: $colores, $key: color7);   
          @media screen and (max-width: 900px) {
            color: map-get($map: $colores, $key: color6);
           
          }  
        }

        @media screen and (max-width: 900px) {
          width: 90%;
          padding: 1em;
          margin: 0;
          border: none;
          background-color: transparent;
          
        }
      }

      @media screen and (max-width: 900px) {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0;
        position: relative;
       

      }
    }

    @media screen and (max-width: 900px) {
      display: flex;
      flex-direction: column;
      margin: 0;
    }
  }
  @media screen and (max-width: 900px) {
    margin-bottom: 5em;
  }
}