header {
  nav {
    display: flex;
    justify-content: space-between;
    div {
      .logo {
        display: inline;
        justify-content: flex-start;
        top: 0px;
        left: 0px;
        margin-bottom: 2em;
        padding: 0.5em;
      }
    }
    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-start;
      width: 70%;
      .link-menu {
        padding: 1.5rem;
        text-align: center;
        list-style: none;
        font-size: nth($size, 3);
        border-left: 1px solid map-get($map: $colores, $key: color6);
        transition: background-color 0.4s;

        &:hover {
          border: 3px map-get($map: $colores, $key: color6) solid;
          text-decoration: underline solid;
          transition: 0.2s;
          opacity: 0.8;
        }
        a {
          text-decoration: none;
          color: map-get($map: $colores, $key: color5);
        }


        @media screen and (max-width: 900px) {
          width: 90%;
          margin: 0;
          border: none;
        }
      }

      @media screen and (max-width: 900px) {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0;
      }
    }

    @media screen and (max-width: 900px) {
      display: flex;
      flex-direction: column;
      margin: 0;
    }

    &:hover {
      margin-bottom: 2em;
    }
  }
}