@import '../base/mapas';

body {
  background-image: url('../../multimedia/images/Wave.svg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  
  .res-main {
    font-size: nth($list: $size, $n: 2);

    h5 {
      font-family: 'Bebas Neue', cursive;
      font-size: nth($list: $size, $n: 4);
    }
    .resc-presentacion{
      
      
      .texto-resc {
        
        margin-left: 1em;
        text-align: justify;
        grid-area: texto;

        p{
          a{
            color: map-get($map: $colores, $key: color5);
          }
        }

      }

      .carousel{
        grid-area: carousel;
      }

      
    }
    .descripcion-individual{
      display: flex;
      justify-content: center;
      margin: 2em 0em;
      font-size: nth($size, 2);
    }
  }

  @media screen and (max-width: 900px) {
    margin: 0;
  }
}