@import '../base/listas';
@import '../base/mapas';

.box-tenencia-responsable {
  .box2 {
    border-radius: 4px;
    background-color: map-get($map: $colores, $key: color1);
    margin-left: 20px;
    background-size: contain;
    width: 30%;
    font-size: nth($size, 5);
    padding: 0.5em;

    @media screen and (max-width: 900px) {
      width: 90%;
    }
  }
  .box1 {
    border-radius: 4px;
    margin-left: 20px;
    opacity: 0;
    transition: 0.3s;
    background-color: map-get($map: $colores, $key: color7);
    margin-bottom: 0;
    width: 95%;

    &:hover {
      width: 80%;
      color: map-get($map: $colores, $key: color6);
      background-color: map-get($map: $colores, $key: color3);
      font-size: nth($size, 4);
      font-weight: lighter;
      opacity: 1;
      line-height: 1.7em;
      margin-left: 2em;
      padding-right: 1em;
      margin-bottom: 2em;
      margin-top: 0;
    }

    ul {
      li {
        list-style: circle;
      }
    }
  }
}