@import '../base/listas';
@import '../base/mapas';

.transito {
  background-color: map-get($map: $colores, $key: color7);
  font-size: 18px;
  line-height: 2em;
  @extend %flexbox;

  .transito-header {
    background-color: map-get($map: $colores, $key: color2);
    padding: 0.3em;
    border-radius: 5px;
    margin-left: 1em;
    font-size: nth($list: $size, $n: 5);
    width: 40%;
    font-weight: bold;
    text-align: center;
    border: 2px solid;

    @media screen and (max-width: 900px) {
      width: 90%;
    }
  }
  .transito-contenido {
    display: flex;
    justify-content: center;
    width: 70%;
    .transito-imagen {
      width: 30%;
      padding: 1em;

      @media screen and (max-width: 900px) {
        width: 90%;
      }
    }
    .formulario-transito {
      width: 30%;
      padding: 1em;
      .form-row {
        padding: 0.5em;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        input {
          border: 1px solid map-get($map: $colores, $key: color6);
          border-radius: 4px;
          padding: 0.5em;
          font-size: nth($size, 1);
        }

        #zona-residencia {
          border: 1px solid map-get($map: $colores, $key: color6);
          border-radius: 4px;
          padding: 0.5em;
          font-size: nth($size, 1);
        }
      }

      @media screen and (max-width: 900px) {
        width: 90%;
      }
    }

    @media screen and (max-width: 900px) {
      display: flex;
      flex-direction: column;
    }
  }

  .submit {
    width: 200px;
    height: 50px;
    background-color: map-get($map: $colores, $key: color1);
    font-family: 'Mulish', sans-serif;
    
    @include botones(8px, nth($size, 1), lighter);

    &:hover {
      transform: scale(1.02);
      transition: 0.2s;
      text-decoration: underline 1px;
    }
  }
  
  span {
    color: map-get($map: $colores, $key: color8);
  }

  @media screen and (max-width: 900px) {
    width: 90%;
  }
}